/* Copyright 2014 The Chromium Authors. All rights reserved.
   Use of this source code is governed by a BSD-style license that can be
   found in the LICENSE file. */

   button {
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: .875em;
    margin: 0;
    padding: 10px 24px;
    transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
    user-select: none;
  }
  
  [dir='rtl'] button {
    float: left;
  }
  
  .bad-clock button,
  .captive-portal button,
  .main-frame-blocked button,
  .neterror button,
  .offline button,
  .pdf button,
  .ssl button {
    background: rgb(66, 133, 244);
  }
  
  button:active {
    background: rgb(50, 102, 213);
    outline: 0;
  }
  
  button:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .50);
  }
  
  #debugging {
    display: inline;
    overflow: auto;
  }
  
  .debugging-content {
    line-height: 1em;
    margin-bottom: 0;
    margin-top: 1em;
  }
  
  .debugging-content-fixed-width {
    display: block;
    font-family: monospace;
    font-size: 1.2em;
    margin-top: 0.5em;
  }
  
  .debugging-title {
    font-weight: bold;
  }
  
  #details {
    color: #696969;
    margin: 0 0 50px;
  }
  
  #details p:not(:first-of-type) {
    margin-top: 20px;
  }
  
  #details-button:hover {
    box-shadow: inherit;
    text-decoration: underline;
  }
  
  .error-code {
    color: #646464;
    font-size: .86667em;
    text-transform: uppercase;
  }
  
  #error-debugging-info {
    font-size: 0.8em;
  }
  
  h1 {
    color: #333;
    font-size: 1.6em;
    font-weight: normal;
    line-height: 1.25em;
    margin-bottom: 16px;
  }
  
  h2 {
    font-size: 1.2em;
    font-weight: normal;
  }
  
  .icon {
    height: 72px;
    margin: 0 0 40px;
    width: 72px;
  }
  
  input[type=checkbox] {
    opacity: 0;
  }
  
  input[type=checkbox]:focus ~ .checkbox {
    outline: -webkit-focus-ring-color auto 5px;
  }
  
  .interstitial-wrapper {
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1.6em;
    margin: 14vh auto 0;
    max-width: 600px;
    width: 100%;
  }
  
  #main-message > p {
    display: inline;
  }
  
  #extended-reporting-opt-in {
    font-size: .875em;
    margin-top: 39px;
  }
  
  #extended-reporting-opt-in label {
    position: relative;
    display: flex;
    align-items: flex-start;
  }
  
  .nav-wrapper {
    margin-top: 51px;
  }
  
  .nav-wrapper::after {
    clear: both;
    content: '';
    display: table;
    width: 100%;
  }
  
  .small-link {
    color: #696969;
    font-size: .875em;
  }
  
  .checkboxes {
    flex: 0 0 24px;
  }
  
  .checkbox {
    background: transparent;
    border: 1px solid white;
    border-radius: 2px;
    display: block;
    height: 14px;
    left: 0;
    position: absolute;
    right: 0;
    top: 3px;
    width: 14px;
  }
  
  .checkbox::before {
    background: transparent;
    border: 2px solid white;
    border-right-width: 0;
    border-top-width: 0;
    content: '';
    height: 4px;
    left: 2px;
    opacity: 0;
    position: absolute;
    top: 3px;
    transform: rotate(-45deg);
    width: 9px;
  }
  
  input[type=checkbox]:checked ~ .checkbox::before {
    opacity: 1;
  }
  
  @media (max-width: 700px) {
    .interstitial-wrapper {
      padding: 0 10%;
    }
  
    #error-debugging-info {
      overflow: auto;
    }
  }
  
  @media (max-height: 600px) {
    .error-code {
      margin-top: 10px;
    }
  }
  
  @media (max-width: 420px) {
    button,
    [dir='rtl'] button,
    .small-link {
      float: none;
      font-size: .825em;
      font-weight: 400;
      margin: 0;
      text-transform: uppercase;
      width: 100%;
    }
  
    #details {
      margin: 20px 0 20px 0;
    }
  
    #details p:not(:first-of-type) {
      margin-top: 10px;
    }
  
    #details-button {
      display: block;
      margin-top: 20px;
      text-align: center;
      width: 100%;
    }
  
    .interstitial-wrapper {
      padding: 0 5%;
    }
  
    #extended-reporting-opt-in {
      margin-top: 24px;
    }
  
    .nav-wrapper {
      margin-top: 30px;
    }
  }
  
  /**
   * Mobile specific styling.
   * Navigation buttons are anchored to the bottom of the screen.
   * Details message replaces the top content in its own scrollable area.
   */
  
  @media (max-width: 420px) {
    #details-button {
      border: 0;
      margin: 8px 0 0;
    }
  
    .secondary-button {
      -webkit-margin-end: 0;
      margin-top: 16px;
    }
  }
  
  /* Fixed nav. */
  @media (min-width: 240px) and (max-width: 420px) and
         (min-height: 401px),
         (min-width: 421px) and (min-height: 240px) and
         (max-height: 560px) {
    body .nav-wrapper {
      background: #f7f7f7;
      bottom: 0;
      box-shadow: 0 -22px 40px rgb(247, 247, 247);
      left: 0;
      margin: 0 auto;
      max-width: 736px;
      padding-left: 24px;
      padding-right: 24px;
      position: fixed;
      right: 0;
      width: 100%;
      z-index: 2;
    }
  
    .interstitial-wrapper {
      max-width: 736px;
    }
  
    #details,
    #main-content {
      padding-bottom: 40px;
    }
  
    #details {
      padding-top: 5.5vh;
    }
  
    #details-button:hover {
      box-shadow: none;
    }
  }
  
  @media (max-width: 420px) and (orientation: portrait),
         (max-height: 560px) {
    body {
      margin: 0 auto;
    }
  
    button,
    [dir='rtl'] button,
    button.small-link {
      font-family: Roboto-Regular,Helvetica;
      font-size: .933em;
      font-weight: 600;
      margin: 6px 0;
      text-transform: uppercase;
      transform: translatez(0);
    }
  
    .nav-wrapper {
      box-sizing: border-box;
      padding-bottom: 8px;
      width: 100%;
    }
  
    .error-code {
      margin-top: 0;
    }
  
    #details {
      box-sizing: border-box;
      height: auto;
      margin: 0;
      opacity: 1;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    #details.hidden,
    #main-content.hidden {
      display: block;
      height: 0;
      opacity: 0;
      overflow: hidden;
      padding-bottom: 0;
      transition: none;
    }
  
    #details-button {
      padding-bottom: 16px;
      padding-top: 16px;
    }
  
    h1 {
      font-size: 1.5em;
      margin-bottom: 8px;
    }
  
    .icon {
      margin-bottom: 5.69vh;
    }
  
    .interstitial-wrapper {
      box-sizing: border-box;
      margin: 7vh auto 12px;
      padding: 0 24px;
      position: relative;
    }
  
    .interstitial-wrapper p {
      font-size: .95em;
      line-height: 1.61em;
      margin-top: 8px;
    }
  
    #main-content {
      margin: 0;
      transition: opacity 100ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .small-link {
      border: 0;
    }
  
    .suggested-left > #control-buttons,
    .suggested-right > #control-buttons {
      float: none;
      margin: 0;
    }
  }
  
  @media (min-width: 421px) and (min-height: 500px) and (max-height: 560px) {
    .interstitial-wrapper {
      margin-top: 10vh;
    }
  }
  
  @media (min-height: 400px) and (orientation:portrait) {
    .interstitial-wrapper {
      margin-bottom: 145px;
    }
  }
  
  @media (min-height: 299px) {
    .nav-wrapper {
      padding-bottom: 16px;
    }
  }
  
  @media (min-height: 500px) and (max-height: 650px) and (max-width: 414px) and
         (orientation: portrait) {
    .interstitial-wrapper {
      margin-top: 7vh;
    }
  }
  
  @media (min-height: 650px) and (max-width: 414px) and (orientation: portrait) {
    .interstitial-wrapper {
      margin-top: 10vh;
    }
  }
  
  /* Small mobile screens. No fixed nav. */
  @media (max-height: 400px) and (orientation: portrait),
         (max-height: 239px) and (orientation: landscape),
         (max-width: 419px) and (max-height: 399px) {
    .interstitial-wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
    }
  
    #details {
      flex: 1 1 auto;
      order: 0;
    }
  
    #main-content {
      flex: 1 1 auto;
      order: 0;
    }
  
    .nav-wrapper {
      flex: 0 1 auto;
      margin-top: 8px;
      order: 1;
      padding-left: 0;
      padding-right: 0;
      position: relative;
      width: 100%;
    }
  }
  
  @media (max-width: 239px) and (orientation: portrait) {
    .nav-wrapper {
      padding-left: 0;
      padding-right: 0;
    }
  }