/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

 a {
    color: rgb(88, 88, 88);
  }
  
  body {
    background-color: #fff;
    color: rgb(100, 100, 100);
    word-wrap: break-word;
  }
  
  #details-button {
    background: inherit;
    border: 0;
    float: none;
    margin: 0;
    padding: 10px 0;
    text-transform: uppercase;
  }
  
  .hidden {
    display: none;
  }
  
  html {
    -webkit-text-size-adjust: 100%;
    font-size: 125%;
  }
  
  .icon {
    background-repeat: no-repeat;
    background-size: 100%;
  }